* {
  box-sizing: border-box;
}

:root,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

:root,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.9);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
