.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-header-sticky {
  position: sticky;
  top: 0;
}

.layout-header,
.layout-header-sticky {
  flex-shrink: 0;
  border-bottom: 1px solid #242424;
}

.layout-main {
  flex-grow: 1;
}

.layout-footer-sticky {
  position: sticky;
  bottom: 0;
}

.layout-footer,
.layout-footer-sticky {
  flex-shrink: 0;
  border-top: 1px solid #242424;
}
